{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
            {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                <a class="btn" href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a>
            {% endif %}
            {% for actionButton in admin.listActionButtons %}
                <a class="btn" href="{{ admin.generateUrl(actionButton.route) }}">{{ actionButton.text }}</a>
            {% endfor %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block list_table %}

    {% if hasSummaryFields and not app.request.isxmlhttprequest %}
        <ul class="tabs">
            <li class="{% if not showSummaryPane %}active{% endif %}"><a href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, summary.getParameters({'tab' : 'list' })) ) }}">List</a></li>
            <li class="{% if showSummaryPane %}active{% endif %}"><a href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, summary.getParameters({'tab' : 'summary' })) ) }}">Summary</a></li>
        </ul>
    {% endif %}
        
    <div class="tab-content">
        {% if not showSummaryPane %}
            <div id="list-container" class="tab-pane {% if not showSummaryPane %}active{% endif %}">
                {% set batchactions = admin.batchactions %}
                {% if admin.datagrid.results|length > 0 %}
                    <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                        <table class="zebra-striped">
                            {% block table_header %}
                                <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        {% for field_description in admin.list.elements %}
                                            {% if field_description.getOption('code') == '_batch' and batchactions|length > 0%}
                                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                                  <input type="checkbox" id="list_batch_checkbox" />
                                                </th>
                                            {% else %}
                                                {% set sortable = false %}
                                                {% if field_description.options.sortable is defined and field_description.options.sortable%}
                                                    {% set sortable             = true %}
                                                    {% set current              = admin.datagrid.values._sort_by == field_description.options.sortable %}
                                                    {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                                    {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                    {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                                {% endif %}

                                                {% spaceless %}
                                                    <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                                        {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                                        {{ admin.trans(field_description.label) }}
                                                        {% if sortable %}</a>{% endif %}
                                                    </th>
                                                {% endspaceless %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                            {% endblock %}

                            {% block table_body %}
                                <tbody>
                                    {% for object in admin.datagrid.results %}
                                        <tr>
                                            {% for field_description in admin.list.elements %}
                                                {{ object|render_list_element(field_description) }}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% endblock %}
            </table>
                            <div class="pagination">
                                <div style="float: left; margin: 10px; color: #666;">
                                  {% set lastPossible = admin.datagrid.pager.page * admin.datagrid.pager.maxPerPage %}
                                    
                                  {% if admin.datagrid.pager.page == admin.datagrid.pager.lastpage %}
                                    {% set resultsEnd = admin.datagrid.pager.nbresults %}
                                  {% else %}
                                    {% set resultsEnd = lastPossible %}  
                                  {% endif %}
                                        
                                  {% set resultsStart = lastPossible - admin.datagrid.pager.maxPerPage + 1 %}  
                                        
                                  
                                        
                                  Displaying <b>{{ resultsStart }}</b> - <b>{{ resultsEnd }}</b> of <b>{{ admin.datagrid.pager.nbresults }}</b> Results
                                </div>
                              <ul>
                                  {% if admin.datagrid.pager.page != 1  %}
                                      <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}" title="{% trans from 'SonataAdminBundle' %}link_first_pager{% endtrans %}">&laquo;</a></li>
                                  {% endif %}

                                  {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                      <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}" title="{% trans from 'SonataAdminBundle' %}link_previous_pager{% endtrans %}">&lsaquo;</a></li>
                                  {% endif %}

                                  {# Set the number of pages to display in the pager #}
                                    {% for page in admin.datagrid.pager.getLinks() %}
                                      {% if page == admin.datagrid.pager.page %}
                                          <li class="active"><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                      {% else %}
                                          <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                      {% endif %}
                                  {% endfor %}

                                  {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                      <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_next_pager{% endtrans %}">&rsaquo;</a></li>
                                  {% endif %}

                                  {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage  %}
                                      <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_last_pager{% endtrans %}">&raquo;</a></li>
                                  {% endif %}

                              </ul>
                            </div>
                            
                            <div style="float: left;">
                                {% if batchactions|length > 0%}
                                    <script type="text/javascript">
                                        jQuery(document).ready(function($){
                                           $('#list_batch_checkbox').click(function(){
                                               $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                           });
                                           $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function(){
                                               $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                           });
                                        });
                                    </script>

                                    {% if admin.spreadsheetFields is defined and admin.spreadsheetFields|length > 0 %}
                                        <a style="margin-right: 25px;" href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, {'downloadListSpreadsheet' : true}) ) }}" class="success btn small spreadsheet-download">Download Spreadsheet</a>
                                    {% endif %}

                                    <select name="action">
                                        {% for action, options in batchactions %}
                                            <option value="{{ action }}">{{ options.label }}</option>
                                        {% endfor %}
                                    </select>
                                    <input class="btn" type="submit" value="{% trans from 'SonataAdminBundle' %}btn_batch{% endtrans %}" />
                                {% endif %}

                                <div style="font-size: 11px; color: #666; margin-top: 10px;">
                                {% if admin.getExportFormats()|length > 0 %}
                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                    {% for format in admin.getExportFormats() %}
                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">{{ format }}</a>{% if not loop.last%},{% endif %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>

                            
                            <div style="clear: both;">&nbsp;</div>

                        
                    </form>
                {% else %}
                    <p class="notice alert-message block-message">
                      {% trans from 'SonataAdminBundle' %}no_result{% endtrans %}
                    </p>
                {% endif %}
            </div>
        
        {% elseif showSummaryPane %}
            <div id="summarize-container" class="tab-pane active">
                    <script src="{{  asset('bundles/sonataadmin/js/jquery.tablesorter.min.js') }}"></script>
                    <script>
                        $(function() {
                            $("table#summary-table").tablesorter();
                        });
                    </script>

                    <table id="summary-table">
                        {% for row in summary.table %}
                            {% if loop.first %}
                                <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        {% for value in row %}
                                            <th><a href="#">{{ value }}</a></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                            {% elseif loop.last %}
                                </tbody>
                                <tfoot>
                                    <tr class="sonata-ba-list-field-header">
                                        {% for value in row %}
                                            <th>{{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </tfoot>
                            {% else %}
                                <tr>
                                    {% for value in row %}
                                        <td>
                                            {% if loop.first %}<b>{% endif %}
                                                {{ value }}
                                            {% if loop.first %}</b>{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}    
                    </table>
                    
                <div class="actions">
                        <a href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, summary.getParameters({'tab' : 'summary','downloadSummarySpreadsheet' : true })) ) }}" class="success btn small spreadsheet-download">Download Summary Spreadsheet</a>
                </div>
            </div>

        {% endif %}

        {% if admin.listPostHook is defined and admin.listPostHook != "" %}
            {% if admin.listPostHook.parameters is defined %}
                {% include admin.listPostHook.template with admin.listPostHook.parameters %}
            {% else %}
                {% include admin.listPostHook.template %}
            {% endif %}
        {% endif %}
            
            
        <script>
            var btn = $('a.btn.spreadsheet-download').click(function () {
                btn.button('loading')
            }) 
        </script>

    </div>
{% endblock %}

{% block list_filters %}
    {% if admin.listPreHook is defined and admin.listPreHook != "" %}
        {% if admin.listPreHook.parameters is defined %}
            {% include admin.listPreHook.template with admin.listPreHook.parameters %}
        {% else %}
            {% include admin.listPreHook.template %}
        {% endif %}
    {% endif %}


    {% if admin.scopes %}
        <ul class="pills">
            <li class="active"><a href="{{ admin.generateUrl('list') }}">All</a></li>
            {% for scope in admin.scopes %}
                <li><a href="{{ admin.generateUrl('list') }}?filter[{{ scope['field'] }}][value]={{ scope['value'] }}">{{ scope['label'] }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if admin.datagrid.filters %}
        <form class="sonata-filter-form form-stacked {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
            <fieldset class="filter_legend">
                <div class="filter_container form-stacked">
                    <h4>Filters</h4>
                    {% for filter in admin.datagrid.filters %}
                        {% if admin.hiddenFilters[filter.name] is not defined %}
                            <div class="clearfix filter-input-container">
                                {{ admin.trans(filter.label) }}
                                <div class="filter-type input">{{ form_widget(form.getChild(filter.name).getChild('type')) }}</div>
                                <div class="input">
                                   {{ form_widget(form.getChild(filter.name).getChild('value')) }}
                                </div>
                            </div><!-- /clearfix -->
                        {% endif %}
                    {% endfor %}
                    <div class="hiddenFilters" style="{% if not showHiddenFilters %}display: none;{% endif %}">
                        {% for filter in admin.datagrid.filters %}
                            {% if admin.hiddenFilters[filter.name] is defined %}
                                <div class="clearfix filter-input-container">
                                    {{ admin.trans(filter.label) }}
                                    <span class="filter-type">{{ form_widget(form.getChild(filter.name).getChild('type')) }}</span>
                                    <div class="input">
                                       {{ form_widget(form.getChild(filter.name).getChild('value')) }}
                                    </div>
                                </div><!-- /clearfix -->
                            {% endif %}
                        {% endfor %}
                    </div>

                    <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                    {% set foo = form.getChild('_page').setRendered() %}       
                    {{ form_rest(form) }}

                    {% if hasSummaryFields and not app.request.isxmlhttprequest %}
                        <h4>Summary Options</h4>
                        <div class="clearfix summary-field-container">
                            <label>Group by</label>
                            <div class="input">
                                <select name="yField">
                                    {% for field, values in admin.summaryYFields %}
                                        <option value="{{ field }}" {% if summary.yField is defined and summary.yField == field %}selected="selected"{% endif %}>
                                            {{ values.label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="clearfix summary-field-container">
                            <label>and by</label>
                            <div class="input">
                                <select name="xField">
                                    {% for field, values in admin.summaryXFields %}
                                        <option value="{{ field }}" {% if summary.xField is defined and summary.xField == field %}selected="selected"{% endif %}>
                                            {{ values.label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if admin.summarySumFields is defined and admin.summarySumFields|length > 0 %}
                            <div class="clearfix summary-field-container">
                                <label>Summarize by</label>
                                <div class="input">
                                    <select name="sumBy">
                                        <option value="count" {% if summary.sumBy is defined and summary.sumBy == 'count' %}selected="selected"{% endif %}>total items</option>
                                        {% for field, values in admin.summarySumFields %}
                                            <option value="{{ field }}" {% if summary.sumField is defined and summary.sumField == field %}selected="selected"{% endif %}>
                                                {{ values.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        
                        <div style="clear: both;">&nbsp;</div>
                        {% endif %}
                    
                    {% if showSummaryPane %}
                        <input type="hidden" value="summary" name="tab" />
                    {% endif %}
                    <div style="clear: both;">&nbsp;</div>
                        
                    <input type="submit" class="btn primary" value="Update" />

                    <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_reset_filter{% endtrans %}</a>
                    {% if admin.hiddenFilters|length != 0 and not showHiddenFilters and not app.request.isxmlhttprequest %}
                            <a id="hiddenFiltersToggle" class="btn" href="#">More Filters</a>
                    {% endif %}
                </div>
            </fieldset>

        </form>
    {% endif %}
{% endblock %}
