{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {{ "action_show"|trans({}, 'SonataAdminBundle') }}

    {% if admin.id(object) %}
        "{{ admin.toString(object) }}"
    {% endif %}
{% endblock%}

{% block actions %}
    <div class="sonata-actions">

        <ul>
            {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object)%}
                <a class="btn" href="{{ admin.generateObjectUrl('edit', object) }}">{% trans from 'SonataAdminBundle' %}link_action_edit{% endtrans %}</a>
            {% endif %}
            {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
                <a class="btn" href="{{ admin.generateObjectUrl('history', object) }}">{% trans from 'SonataAdminBundle' %}link_action_history{% endtrans %}</a>
            {% endif %}
            {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                <a class="btn" href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a>
            {% endif %}

            {% if admin.hasRoute('list') and admin.isGranted('LIST')%}
                <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
            {% endif %}

            {% for actionButton in admin.showActionButtons %}
                <a class="btn" href="{{ admin.generateUrl(actionButton.route) }}">{{ actionButton.text }}</a>
            {% endfor %}                
        </ul>
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block show %}
    {% if admin.showPreHook is defined and admin.showPreHook != "" %}
        {% if admin.showPreHook.parameters is defined %}
            {% include admin.showPreHook.template with admin.showPreHook.parameters %}
        {% else %}
            {% include admin.showPreHook.template %}
        {% endif %}
    {% endif %}

    <div class="sonata-ba-view">
        {% for name, view_group in admin.showgroups %}
            {% if view_group.displayGroup %}
                {% if name and admin.showgroups|length > 1 %}
                    <h2>{{ admin.trans(name) }}</h2>
                {% endif %}

                <table class="bordered-table">
                    {% for field_name in view_group.fields %}
                        {% if admin.showfielddescriptions[field_name].options['displayField'] %}
                            {{ admin.showfielddescriptions[field_name].options['preHook']|raw }}

                            <tr class="sonata-ba-view-container {{ admin.showfielddescriptions[field_name].options['additionalClasses'] }}">
                                {% if admin.show[field_name] is defined %}
                                    {{ admin.show[field_name]|render_view_element(object) }}
                                {% else %}
                                    {{ field_name }}
                                {% endif %}
                            </tr>
                            {{ admin.showfielddescriptions[field_name].options['postHook']|raw }}
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    </div>

    {% if admin.hideEmptyShowFields %}
        <div class="alert-message warning block-message sonata-ba-view">            
            {% if showAllFields %}
                All fields are shown.<br/><br/>
                <a class="btn" href="{{ admin.generateObjectUrl('show', object) }}">Hide empty fields</a>
            {% else %}
                Some empty fields are hidden.<br/><br/>
                <a class="btn" href="?showAllFields=true">View all fields</a>
            {% endif %}
        </div>  
    {% endif %}

    {% if admin.showPostHook is defined and admin.showPostHook != "" %}
        {% if admin.showPostHook.parameters is defined %}
            {% include admin.showPostHook.template with admin.showPostHook.parameters %}
        {% else %}
            {% include admin.showPostHook.template %}
        {% endif %}
    {% endif %}

{% endblock %}

