{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}



{% block content %}
    {% if admin.listPreHook is defined and admin.listPreHook != "" %}
        {% if admin.listPreHook.parameters is defined %}
            {% include admin.listPreHook.template with admin.listPreHook.parameters %}
        {% else %}
            {% include admin.listPreHook.template %}
        {% endif %}
    {% endif %}
    <div>
        {% for scopeGroup in admin.datagrid.scopeGroups %}
            <ul class="{{ scopeGroup.class }}">
                {% if scopeGroup.label %}<li style="margin: 10px;">{{ scopeGroup.label }}:</li>{% endif %}
                <li {{ not scopeGroup.activeScope ? 'class="active"' : '' }}><a href="{{ admin.generateUrl('list', scopeGroup.parameters(admin.modelmanager.datagridparameters(admin.datagrid, {'showSummary' : showSummary })) ) }}">All</a></li>
                {% for scope in scopeGroup.scopes %}
                    <li {{ scope.isActive ? 'class="active"' : '' }}><a href="{{ admin.generateUrl('list', scope.parameters(admin.modelmanager.datagridparameters(admin.datagrid, {'showSummary' : showSummary})) ) }}">{{ scope.label }}</a></li>
                {% endfor %}
            </ul>    
        {% endfor %}
    </div>
{% endblock %}

{% block list_table %}
    {% if not showSummary %}
        <div id="list-container">
            {% set batchactions = admin.batchactions %}
            {% if admin.datagrid.results|length > 0 %}
                <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                    <table class="zebra-striped bordered-table">
                        {% block table_header %}
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    {% for field_description in admin.list.elements %}
                                        {% if field_description.getOption('code') == '_batch' and batchactions|length > 0%}
                                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                              <input type="checkbox" id="list_batch_checkbox" />
                                            </th>
                                        {% else %}
                                            {% set sortable = false %}
                                            {% if field_description.options.sortable is defined and field_description.options.sortable%}
                                                {% set sortable             = true %}
                                                {% set current              = admin.datagrid.values._sort_by == field_description.options.sortable %}
                                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                            {% endif %}

                                            {% spaceless %}
                                                <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                                    {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                                    {{ admin.trans(field_description.label) }}
                                                    {% if sortable %}</a>{% endif %}
                                                </th>
                                            {% endspaceless %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                                {% for object in admin.datagrid.results %}
                                    <tr>
                                        {% for field_description in admin.list.elements %}
                                            {{ object|render_list_element(field_description) }}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endblock %}
                    </table>
                    <div class="pagination">
                        <div style="float: left; margin: 10px; color: #666;">                                        
                            {{ admin.datagrid.pager.nbresults }} Results
                        </div>

                        {% if admin.datagrid.pager.lastpage != 1 %}    
                            <ul>
                                {% if admin.datagrid.pager.page != 1  %}
                                  <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}" title="{% trans from 'SonataAdminBundle' %}link_first_pager{% endtrans %}">&laquo;</a></li>
                                {% endif %}

                                {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                  <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}" title="{% trans from 'SonataAdminBundle' %}link_previous_pager{% endtrans %}">&lsaquo;</a></li>
                                {% endif %}

                                {# Set the number of pages to display in the pager #}
                                {% for page in admin.datagrid.pager.getLinks() %}
                                  {% if page == admin.datagrid.pager.page %}
                                      <li class="active"><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                  {% else %}
                                      <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                  <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_next_pager{% endtrans %}">&rsaquo;</a></li>
                                {% endif %}

                                {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage  %}
                                  <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_last_pager{% endtrans %}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    
                    <div style="float: left;">
                        {% if batchactions|length > 0%}
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                   $('#list_batch_checkbox').click(function(){
                                       $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                   });
                                   $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function(){
                                       $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                   });
                                });
                            </script>


                            <select name="action">
                                {% for action, options in batchactions %}
                                    <option value="{{ action }}">{{ options.label }}</option>
                                {% endfor %}
                            </select>
                            <input class="btn" type="submit" value="{% trans from 'SonataAdminBundle' %}btn_batch{% endtrans %}" />
                        {% endif %}

                        {% if admin.spreadsheetFields is defined and admin.spreadsheetFields|length > 0 %}
                            <div style="color: gray; margin-top: 15px;">
                                Download: <a href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, {'downloadListSpreadsheet' : true}) ) }}" class="">xls</a>
                            </div>
                        {% endif %}
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                </form>
            {% else %}
                <p class="notice alert-message block-message">
                  {% trans from 'SonataAdminBundle' %}no_result{% endtrans %}
                </p>
            {% endif %}
        </div>

    {% elseif showSummary %}
        <div id="summarize-container"">
            <script src="{{  asset('bundles/sonataadmin/js/jquery.tablesorter.min.js') }}"></script>
            <script>
                $(function() {
                    $("table#summary-table").tablesorter();
                });
            </script>

            <table id="summary-table" class="bordered-table">
                {% for row in summary.table %}
                    {% if loop.first %}
                        <thead>
                            <tr class="sonata-ba-list-field-header">
                                {% for value in row %}
                                    <th><a href="#">{{ value }}</a></th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                    {% elseif loop.last %}
                        </tbody>
                        <tfoot>
                            <tr class="sonata-ba-list-field-header">
                                {% for value in row %}
                                    <th>{{ value }}</th>
                                {% endfor %}
                            </tr>
                        </tfoot>
                    {% else %}
                        <tr>
                            {% for value in row %}
                                <td>
                                    {% if loop.first %}<b>{% endif %}
                                        {{ value }}
                                    {% if loop.first %}</b>{% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}    
            </table>
            
            <div style="color: gray; margin-bottom: 10px;">
                Download: <a style="margin-bottom: 5px;" href="{{ admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, summary.getParameters({'showSummary' : '1','downloadSummarySpreadsheet' : true })) ) }}">xls</a>
            </div>
        </div>
    {% endif %}

    {% if admin.listPostHook is defined and admin.listPostHook != "" %}
        {% if admin.listPostHook.parameters is defined %}
            {% include admin.listPostHook.template with admin.listPostHook.parameters %}
        {% else %}
            {% include admin.listPostHook.template %}
        {% endif %}
    {% endif %}
            
{% endblock %}

{% block list_filters %}
{% if admin.datagrid.hasVisibleFilters or showSummary %}
    <form class="sonata-filter-form form-stacked {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
        <fieldset class="filter_legend">
            {% if admin.datagrid.hasVisibleFilters %}
                <table class="bordered-table filter-table" style="{{ admin.datagrid.hasActiveFilters or showSummary ? "" : "display: none;"}}">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th colspan="4">Filter Results</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for filter in admin.datagrid.filters %}
                        <tr class="filter-container {{ filter.isActive ? 'active' : 'inactive' }}" {{ filter.isInvisible or (not filter.isActive and not showSummary) ? 'style="display: none;"' : '' }}>
                            <td>{{ admin.trans(filter.label) }}</td>
                            <td style="{{ admin.datagrid.showFilterTypes ? "" : "display: none;"}}">{{ form_widget(form.getChild(filter.name).getChild('type')) }}
                            <td>
                                {{ form_widget(form.getChild(filter.name).getChild('value')) }}
                            </td>
                            <td>
                                {% if filter.isActive %}
                                    {% set key = 'filter[' ~ filter.name ~ '][value]' %}
                                    <a href="{{  admin.generateUrl('list', admin.modelmanager.datagridparameters(admin.datagrid, { (key) : '', 'showSummary' : showSummary })) }}"><i class="icon-cancel-circle red size20"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                    {% set foo = form.getChild('_page').setRendered() %}
                    {{ form_rest(form) }}
                    </tbody>                           
                </table>
            {% endif %}

            {% if showSummary %}
                <table class="bordered-table">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th colspan="2">Report Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Group by</td>
                            <td>
                                <select name="yField">
                                    {% for field, values in admin.summaryYFields %}
                                        <option value="{{ field }}" {% if summary.yField is defined and summary.yField == field %}selected="selected"{% endif %}>
                                            {{ values.label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>and by</td>
                            <td>
                                <select name="xField">
                                    {% for field, values in admin.summaryXFields %}
                                        <option value="{{ field }}" {% if summary.xField is defined and summary.xField == field %}selected="selected"{% endif %}>
                                            {{ values.label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% if admin.summarySumFields is defined and admin.summarySumFields|length > 0 %}
                            <tr>
                                <td>Summarize by</td>
                                <td>
                                    <select name="sumBy">
                                        <option value="count" {% if summary.sumBy is defined and summary.sumBy == 'count' %}selected="selected"{% endif %}>total items</option>
                                        {% for field, values in admin.summarySumFields %}
                                            <option value="{{ field }}" {% if summary.sumField is defined and summary.sumField == field %}selected="selected"{% endif %}>
                                                {{ values.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}

                        <input type="hidden" value="1" name="showSummary" /> 

                    </tbody>
                </table>
            {% endif %}                    

                
            <input {{ not admin.datagrid.hasActiveFilters and not showSummary? 'style="display: none;"' : ''}} id="submit-filters" type="submit" class="btn primary" value="{{ admin.datagrid.hasActiveFilters or showSummary ? 'Update' : 'Filter'}}" />
            {% if not admin.datagrid.hasActiveFilters and not showSummary %}
                <a href="#" class="btn filter-results-toggle"><i class="icon-search"></i> Filter results</a>
            {% endif %}

            <a style="float: right; line-height: 27px; {{ not admin.datagrid.hasActiveFilters? 'display: none;"' : ''}}" id="reset-filters" href="{{ admin.generateUrl('list', {'showSummary' : showSummary }) }}">reset</a>                    

            <a {{ not admin.datagrid.hasActiveFilters or not admin.datagrid.hasInactiveFilters or showSummary ? 'style="display: none;"' : ''}} href="#" class="more-filters-toggle"><i class="icon-plus-circle"></i>more filters</a>
            <a href="#" class="filter-results-cancel" style="display: none;">cancel</a>
            <a href="#" class="more-filters-cancel" style="display: none;">cancel</a>
            
        </fieldset>
    </form>
{% endif %}
{% endblock %}
