{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
            {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
                <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
            {% endif %}

            {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                <a class="btn" href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a>
            {% endif %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        Are you sure you want to {{ batchAction }} the selected items?
        
        <ul>
        {% for item in itemList %}
                <li>{{ item }}</li>
        {% endfor %}
        </ul>

        
        <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
            <input type="hidden" name="confirmation" value="ok" />
            <input type="hidden" name="data" value="{{ data }}" />

            <div style="display: none">
                {{ form_rest(form) }}
            </div>
            <div class="actions">
                <input class="btn danger" type="submit" value="{% trans from 'SonataAdminBundle' %}btn_execute_batch_action{% endtrans %}" />
                <a href="{{ admin.generateUrl('list') }}" class="btn">Cancel</a>
            </div>
        </form>

    </div>
{% endblock %}
