{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {{ admin.entityLabelPlural }} /

    {{ "action_delete"|trans({}, 'SonataAdminBundle') }}

    {% if admin.id(object) %}
        "{{ admin.toString(object) }}"
    {% endif %}
{% endblock%}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">
        Are you sure want to delete the selected item?
        <ul><li>{{ object }}</li></ul>

        <div class="actions">
            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                <input type="hidden" value="DELETE" name="_method" />

                <input type="submit" class="btn danger" value="{% trans from 'SonataAdminBundle' %}btn_delete{% endtrans %}" />

                <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}btn_cancel{% endtrans %}</a>
            </form>
        </div>
    </div>
{% endblock %}
